#title{
    margin-top: 50px;
    color: #7c795d; font-family: 'Trocchi', serif; font-size: 100px; font-weight: normal; line-height: -30px;
}

.form{
    margin-top: -50px;
    align-self: center;
}
#box{
    
    width:100%;
    height:100vh;
    text-align: center;
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}
.items{
    font-family: 'Open Sans Condensed', sans-serif; font-size: 38px; color: #333;
    display:block;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.2s 0.1s;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    border-radius: 20%;
}